body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .container {
    max-width: 960px;
    height: 100vh;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .notes-list {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  
  .note.new {
    background-color: #67d7cc;
  }
  
  textarea {
    border: none;
    resize: none;
    background-color: #67d7cc;
  }
  
  textarea:focus {
    outline: none;
  }
  
  .notes-text {
    border: none;
    outline: none;
    resize: none;
    background-color: #fef68a;
  }
  
  .btn:hover {
    background-color: rgba(0, 0, 0, 0.867);
    cursor: pointer;
  }
  
  .btn {
    background-color: rgba(29, 29, 29, 0.867);
    color: #fefefe;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
  }
  
  .note {
    background-color: #fef68a;
    border-radius: 10px;
    padding: 1rem;
    min-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: pre-wrap;
  }
  
  .note-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .delete-icon:hover {
    cursor: pointer;
    transform: scale(1.3);
    color: red;
    transition: all 0.3s;
  }
  
  .search {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 1.5em;
    background-color: aliceblue;
  }
  
  .search input {
    padding-left: 10px;
    border: none;
    background-color: aliceblue;
  }
  
  .search input:focus {
    outline: none;
  }
  
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .dark-mode {
    transition: all 0.4s ease-in-out;
    background-color: rgb(27, 27, 27);
  }
  
  .dark-mode h1 {
    color: aliceblue;
  }